# Global owner
*	@vkumbhar94 @kedarjapan @bpuri7

# argus directory owners
charts/argus/   @vkumbhar94 @rohitphatak @shubhashri12 @sagarmamdapure @kedarjapan @bpuri7 @gurusiddha

# collectorSet-controller directory owners
charts/collectorset-controller/   @vkumbhar94  @rohitphatak @shubhashri12 @sagarmamdapure @kedarjapan @bpuri7 @gurusiddha

# lm-container directory owners
charts/lm-container/    @vkumbhar94 @rohitphatak @shubhashri12 @sagarmamdapure @kedarjapan @bpuri7 @gurusiddha

# lmutil directory owners
charts/lmutil/    @vkumbhar94 @rohitphatak @shubhashri12 @sagarmamdapure @kedarjapan @bpuri7 @gurusiddha

# lmotel directory owners
charts/lmotel/ @avadhut123pisal @vkumbhar94
